script_jan01.js
script_oldv1.js
script_oldv2.js
indexAllOld.html

endpoints/history_comics_v1.html
endpoints/contact.html
endpoints/history_comics_v2.html
endpoints/projects.html
endpoints/publications.html
endpoints/art_imgs/chicken_hatV2_2.png
